<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description>다양한 입력폼을 만드는 서블릿</description>
    <display-name>MultiFormServlet</display-name>
    <servlet-name>MultiFormServlet</servlet-name>
    <servlet-class>web.servlet.MultiFormServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiFormServlet</servlet-name>
    <url-pattern>/MF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiFormServletTest</display-name>
    <servlet-name>MultiFormServletTest</servlet-name>
    <servlet-class>web.servlet.MoltiFormServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiFormServletTest</servlet-name>
    <url-pattern>/MFS</url-pattern>
  </servlet-mapping>
</web-app>