<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL definition -->
<mapper namespace="MemberMapper">
	<insert id="registerMember">
	</insert>
	<delete id="deleteMember">
	</delete>
	<update id="updateMember">
	</update>
	<select id="showAllMember">
	</select>
</mapper>